*{
    margin: 0;
    padding: 0;
}
.carousel-item{
    height: 600px;
}
.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 600px;
}
.nav-item a:hover{
    text-decoration: underline greenyellow;
    text-underline-offset: 10px;
}
.navbar-nav{
    margin-left: 75%;
}
.dblock{
    border: 1px solid red;
}
.container{
    margin-top: 10%;
}
.card{
    margin-bottom: 20px;
}
/* .card-img-top{
    width:200%;
    height: 40vh;
    border: 1px solid red;
    margin-left: -10px;
 } */

form{
    border: 1px solid gainsboro;
    float: left;
    margin-left: 35%;
    margin-right: 38%;
    margin-top: 8%;
    margin-bottom: 1%;
    background-color: azure;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

 #myBtn {
    position: fixed;
    bottom: 30px;
    float: right;
    right: 5%;
    left: 95%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;
}
#myBtn:hover {
    background-color: #7dbbf1;
}
  #password-strength {
    height: 5px;
    width: 100%;
    display: block;
    background-color: #ccc;
  }
  #password-strength span {
    display: block;
    height: 5px;
    border-radius: 2px;
    transition: all 500ms ease;
  }
footer{
    position:static;
    margin-bottom: 0;
    width: 100%;
}
#footer1{
    position: fixed;
    bottom: 0;
}